
body{
	margin:0px 30px;
	padding: 0px;
	background-color: #FAFAFA
	
}
h2{
	font-family: 'Arimo', sans-serif;
	font-size: 55px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
h3{
	font-family: 'PT Serif',serif;
	font-size: 30px;
	color: #707070;
	font-weight: normal;
}
h4{
	font-family: 'Arimo', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

p{
	font-family: 'PT Serif', serif;
	font-size: 16px;
	color: #000;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
	padding:10px 0px;
	
}
#logo img{
	width: 62px
}
.dropbtn {
	border: none;
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	font-size: 20px;
	background-color: #fafafa;
	padding-left: 40px;
	padding-top: 18.5px;
	
}
.dropbtn a{
	text-decoration: none;
	color: #000
}.dropbtn a:hover{
	text-decoration: underline 0.5px solid
}
#menu-bar{
	position: relative;
  	display: inline-block;
}
.dropdown-content {
  	display: none;
  	position: absolute;
	z-index: 1;
}
.dropdown-content a {
	display: block;
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	color:#000000;
	text-align: center;
	padding: 10px 0px 10px 10px
}
.dropdown-content a:hover{
	text-decoration: underline 0.5px solid
}
#menu-bar:hover .dropdown-content {display: block;
}
header{
	margin: 0px;
	padding: 100px 0px;
}
header h4{
	font-weight: normal
}
/*.text-1{
	margin:0px;
	padding:0px;
	position: fixed;
	top:50%;
	left:500px;
	white-space: nowrap;
	transform:translateY(-50%);
}*/
wrapper{
	margin: 0px;

}
#content{
	margin:0px;
	width: 100%;
}
#content-home{
	display:flex;
	flex-direction: column;
	margin:0px ;
	height: 400px;
	padding-top: 150px;
	padding-bottom: 150px
}
#content-projects{
	display: flex;
	flex-direction: column;
	
}
#content-illustrations{
	display: flex;
	flex-direction: column;
	
}
/*.slider{
	margin: auto;
	display:flex;
	position: relative;
	overflow: hidden
}*/

.project-box{
	margin: 50px auto;
	border: #000000 1px solid;
	text-align: center;


}
.project-box  h4 a{
	text-decoration: none;
	color: #000000
}
.project-box  h4 a:hover{
	text-decoration:  underline 2px solid	
}
.project-box  p a{
	text-decoration: none;
	color: #000000
}
.project-box img{
	width: 480px;
	height: 480px;
	object-fit: cover
}
#back{
	display:flex;
	flex-direction: row;
	margin-bottom: 40px;
}
#back img{
	width: 20px;
	height: 14px;
}
#back p a{
	text-decoration: none;
	color: #707070;
	}
#back p{
	margin-top: 0px;
	padding: 0px 20px
}
.works{
	display:flex;
	flex-direction: row;
}
.works h3 a{
	text-decoration: none;
	color:#707070;
}
.works h3{
	padding: 0px 20px;	
	margin-top: 0px
}
.works img{
	width: 37px;
	height: 25px;
	
}
#footer{
	margin:30px 0px 0px 0px ;
	display: flex;
	flex-direction: column;

}
#footer img{
	width: 30px;
	height: auto;
}
#footer a{
	margin: 10px auto;
}
#social-media{
	display: inline-flex;
	margin: auto;
}
#social-media a{
	padding: 0px 20px;
	text-decoration: none;
	color: #707070;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: normal
}
#copy{
	margin: auto;
}
#copy p{
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #707070
}
