
body{
	margin:0px 30px;
	padding: 0px;
	background-color: #FAFAFA;
	font-family: 'Arimo', sans-serif;
	
}
h2{
	font-size: 50px;
	word-wrap: break-word;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
h3{
	font-size: 30px;
	color: #707070;
	font-weight: normal;
}
h4{
	font-size: 30px;
	font-weight: bold;
	color: #000;
}

p{
	font-size: 16px;
	color: #000;
	word-wrap: break-word;
}
nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
	padding:10px 0px;
	position: fixed;
	top:0px;
	background-color: #fafafa;
	z-index: 20
	
}
#logo img{
	width: 62px
}
.dropbtn {
	border: none;
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	font-size: 20px;
	background-color: #fafafa;
	padding-top: 18.5px;
	cursor: pointer;
	margin-left: 45px;
	text-align: center
	
}
.dropbtn a{
	text-decoration: none;
	color: #000
}.dropbtn a:hover{
	text-decoration: underline 0.5px solid;
	
}
#menu-bar{
	float: right;
	margin-right: 60px;
	display: inline-flex;
}
.dropdown-content {
  	display: none;
  	position: absolute;
	top: 75px;
	z-index: 1;
	background-color: #fafafa;
	padding: 0px 5px;
	text-align: center;
}
.dropdown-content a {
	display: block;
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	color:#000000;
	text-align: center;
	padding: 10px 0px 10px 10px
}
.dropdown-content a:hover{
	text-decoration: underline 0.5px solid
}
#menu-bar:hover .dropdown-content {display: block;
}
header{
	margin: 0px;
	padding: 70px 0px 10px 0px;
	background-color: #FDD910;
	text-align: center;
}
header h4{
	font-weight: normal
}
.text-1{
	animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideInLeft;
}
@keyframes slideInLeft{
	0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
}
.text-2{
	animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideInRight;
}
@keyframes slideInRight{
	0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
}

wrapper{
	margin: 0px;

}
#content{
	margin:100px 0px;
	width: 100%;
}
#content-home{
	width: 100%;
	display:flex;
	flex-direction: column;
	margin:100px auto;	
	}
#content-dance{
	display:flex;
	flex-direction: column;
	margin:50px 0px;
	padding: 100px 0px
}
#content-projects{
	display: flex;
	flex-direction: column;
	}
#content-illustrations{
	display: flex;
	flex-direction: column;
	margin:50px 0px;
	
}
#content-about{
	margin:50px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	}
#content-about img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	margin:auto;
	
}
#content-space-odyssey{
	margin:50px 0px;
}
#content-space-odyssey h4{
	text-align: center;
}
#content-dance-part1{
	margin:50px 0px;
}
#content-dance-part1 h4{
	text-align: center;
}
#content-dance-part2{
	margin:50px 0px;
}
#content-dance-part2 h4{
	text-align: center;
}
#content-video{
	margin:50px 0px;
}
#content-video h4{
	text-align: center;
}
#content-EC{
	margin:50px 0px;
}
#content-EC h4{
	text-align: center;
}
.mockup-EC2{
display: none;
}
.mockup-EC1 img{
	margin:auto;
	padding-top: 50px;
	width: 340px;
	height: auto;	
	border-bottom: 2px solid #FDD910;
	padding: 20px;
}
.slideshow-container{
	height: auto;
	position:relative;
	margin: auto;
}
.slider{
	display: none
}
.prev, .next{
	cursor:pointer;
	position: absolute;
	top:40%;
	width: auto;
	margin-top:-22px;
	padding:16px;
	color:#fdd910;
	font-weight: bold;
	font-size:30px;
	transition:0.6s ease;
	border-radius: 0px 3px 3px 0px;
	user-select: none;
	
}
.next{
	right:0px;
	border-radius: 3px 0px 0px 3px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.project-box{
	margin: 50px auto;
	border: 1px solid #FDD910;
	text-align: center;
	background-color: #fdd910;


}
.project-box  h4 a{
	text-decoration: none;
	color: #000000
}
.project-box  h4 a:hover{
	text-decoration:  underline 2px solid	
}
.project-box p{
	font-size: 12px;
}
.project-box  p a{
	text-decoration: none;
	color: #000000
}
.project-box img{
	width: 340px;
	height: 340px;
	object-fit: cover
}

#back{
	display:flex;
	flex-direction: row;
	margin-bottom: 10px;
}
#back img{
	width: 20px;
	height: auto;
	margin-top:-30px;
}
#back p a{
	text-decoration: none;
	color: #000000;
	font-family: 'Arimo', sans-serif
	}
#back p{
	font-size: 22px;
	margin-top: auto;
	padding: 0px 10px
}
.works{
	width: 180px;
	height: 70px;
	margin: 15px auto;
	background-color: #000;
	text-align: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;	
	}
.works h3 a{
	text-decoration: none;
	color:#FDD910;
	}
.works h3{
	margin:auto;
	margin-top: 20px;
}
/*.works img{
	width: 37px;
	height: 25px;
	position:relative;
	top:7px;
	
}*/
/*style About page*/

#name {
	margin: auto
}
#name p{
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin-top:-30px;
	text-align: center;
	}
#name h4{
	text-align: center
}
#description{
	text-align: center
}
#skills {
	display:flex;
	flex-direction: column;
	margin:auto;
}
#skills h4{
	text-align: center
}
#adobe-icons img{
	width: 40px;
	height: 40px;
	border-radius:0px;
	padding: 5px
	}
#adobe-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	}
#certification{
	margin: auto;
	text-align: center;
	padding:0px 50px
}
#certification img{
	width: 40px;
	height: 40px;
	border-radius:0px;
	padding: 5px
	}
#contact{
	text-align: center
}
#contact-box{
	display: inline-flex;
	padding: 0px 50px;
	
}
#contact-box img{
	width: 8%;
	height: auto;
	border-radius:0px;
	margin-left:30px
	
}
#info{
	text-align: left;
}
#info a{
	text-decoration: none;
	color: #000000;
	text-transform: capitalize
}
/* style project pages*/
.logo img {
	margin:auto;
	padding-top: 50px;
	width: 340px;
	height: auto;	
	border-bottom: 2px solid #FDD910;
	padding: 20px;
}
.mockup img{
	margin:auto;
	padding-top: 50px;
	width: 340px;
	height: auto;	
	border-bottom: 2px solid #FDD910;
	padding: 20px;
}

#visuals video{
	display:block;
	margin: auto;	
	padding-bottom: 50px;
	padding-top: 50px;
	
	
}
#visuals {
	width: 100%;
	text-align: center;
	display:flex;
	flex-direction: column;
	margin: auto;
}

#link a{
	text-decoration: none;;
	color: #000;
	}
#link p{
	text-align: center;
	
}

#theme-info{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-top: 100px;
	border-left:2px solid #FDD910
}
#circle-1 { 
   width: 20px;
   height: 20px;
   background: #FDD910; 
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
	position:relative;
	left:-10px;
	top: 65px
}
#circle-2 { 
   width: 30px;
   height: 30px;
   background: #FDD910; 
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
   border-radius: 15px;
	position:relative;
	left:-17px;
	top: 70px
}
#circle-3 { 
   width: 40px;
   height: 40px;
   background: #FDD910; 
   -moz-border-radius: 20px; 
   -webkit-border-radius: 20px; 
   border-radius: 20px;
	position:relative;
	left:-20px;
	top: 75px
}
.about h4 {
	margin-left: 30px;
	text-align: left;
}
.about p {
	margin-left: 30px;
	text-align: left;
}
.about ul li {
	margin-left: 30px;
	text-align: left;
	
}
#back img{
	position: relative;
	top:5px;
}
#slideshow{
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.social-media {
	text-align: center;
	margin-top: 100px;
}
#SoMe-1{
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	}
#SoMe-1 figure {
	display: flex;
	position:relative;
	width: 400%;
	margin: 0px;
	left:0px;
	animation: 10s SoMe-1 infinite;
	}
	
#SoMe-1 figure img{
		width:  25%;
		height: auto;
		float: left;
		transition-timing-function: ease-in;
		padding: 0px;
	}
#SoMe-2{
	overflow: hidden;
	margin-top: 20px;
	}
#SoMe-2 figure {
	display: flex;
	position:relative;
	width: 500%;
	margin: 0px;
	left:0px;
	animation: 15s SoMe-2 infinite;
	}
	
#SoMe-2 figure img{
		width:  20%;
		height: auto;
		float: left;
		transition-timing-function: ease-in;
	padding: 0px;
	}
#SoMe-3{
		overflow: hidden;
	margin-top: 20px;
	}
#SoMe-3 figure {
	display: flex;
	position:relative;
	width: 700%;
	margin: 0px;
	left:0px;
	animation: 20s SoMe-3 infinite;
	}
	
#SoMe-3 figure img{
		width: 14.2%;
		height: auto;
		float: left;
		transition-timing-function: ease-in;
	padding: 0px;
	}
@keyframes SoMe-1{
		0%{left:0}
		30%{left:0}
		34%{left:-100%}
		60%{left:-100%}
		65%{left:-200%}
		97%{left:-200%}
		100%{left:-300%}
		}
@keyframes SoMe-2{
		0%{left:0}
		20%{left:0}
		25%{left:-100%}
		45%{left:-100%}
		50%{left:-200%}
		70%{left:-200%}
		75%{left:-300%}
		95%{left:-300%}
		100%{left:-400%}
		}
@keyframes SoMe-3{
		0%{left:0}
		14.2%{left:0}
		17%{left:-100%}
		31.2%{left:-100%}
		34.2%{left:-200%}
		48.4%{left:-200%}
		51.4%{left:-300%}
	    65.6%{left:-300%}
	    68.6%{left:-400%}
	 	82.8%{left:-400%}
		85.8%{left:-500%}
	 	97%{left:-500%}
	 	100%{left:-600%}
	
		}
	
/*style footer*/
#footer{
	margin:50px 0px 0px 0px ;
	display: flex;
	flex-direction: column;

}

#footer img{
	width: 30px;
	height: auto;
}
#footer a{
	margin: 10px auto;
}
#social-media{
	display: inline-flex;
	margin: auto;
}
#social-media a{
	padding: 0px 20px;
	text-decoration: none;
	color: #707070;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: normal
}
#copy{
	margin: auto;
}
#copy p{
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #707070
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
	#content-projects{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#visuals{
		width: 80%;
		margin: auto;
	}

	.mockup img{
	width: 500px;
	height: auto;	
		}
	.mockup-EC1 img{
	width: 500px;
	height: auto;	
	
}
	#visuals video{
		width: 600px;
		height: auto;
	}
	#theme-info{
		width: 70%;
		margin: auto;
		margin-top: 100px
	}
	#slideshow{
		width: 70%;
		margin:auto;
	}
	#content-illustrations{
		display: flex;
		flex-direction: row;
		margin:100px 0px;
		flex-wrap: wrap;
}
	#content-about{
		width: 70%;
	}
	
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
	h2{	
		font-size: 80px;
	}
	.dropbtn {
		font-size: 22px;
	}
	.dropdown-content a{
		font-size: 22px;
	}
	.project-box img{
	width: 450px;
	height: 450px;
	object-fit: cover
}
	.mockup img{
	width: 600px;
	height: auto;	
		}
	#visuals video{
		width: 800px;
		height: auto;
	}
	#slideshow{
		width: 80%;
		margin:auto;
	}
	#content-about{
		width: 70%;
	}
	.zoom{
	overflow: hidden
}
	.zoom img {
	transition: transform .5s ease;

}
	.zoom img:hover{
	transform: scale(1.5);
}
	#SoMe-1{
		width: 40%;
		margin: 0px 20px 0px 0px;
		
	}
	#SoMe-2{
		width: 40%;
		margin:75px 20px 0px 0px;
		
	}
	#SoMe-3{
		width: 40%;
		margin: 150px 20px 0px 0px;
		
	}
	#slideshow{
		flex-direction: row;
		justify-content: center;
	}
	#theme-info{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-content:center;
		align-items: baseline;
		margin-top: 100px;
		border-left: none;
	}
	.about{
		width: 33.3%;
		padding-right: 30px;
		margin: 0px 20px;
		border-left: 2px solid #FDD910;
	}
	#circle-1 { 
	   	left:-10px;
		top: 72px;
		}
	#circle-2 { 
	   	left:-17px;
		top: 72px;
		}
	#circle-3 { 
	   	left:-20px;
		top: 72px;
		}
	#link a:hover{
		font-weight: bold;
	}
	.works a:hover{
		color: #FAFAFA;
	}
	.mockup-EC1{
		display: none;
	}
	.mockup-EC2{
		display: block;
		}
	.mockup-EC2 img{
		width: 800px;
		height: auto;
		margin:30px auto;
	}
	
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
	
	.mockup img{
	width: 650px;
	height: auto;	
		}
	.logo img{
		width: 400px;
		height: auto;
	}
	.mockup-EC2 img{
		width: 1000px;
		height: auto;
		
	}
	#visuals video{
		width: 1000px;
		height: auto;
	}
	
	
}


